<div id="home-page">

  <div id="topnav" class="section">
    <div class="nav-logo">
      <h1>
        Code School Prep
      </h1>
    </div>
    <div class="nav-links">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#curriculum">Curriculum</a>
        </li>
        <li>
          <a href="#how-it-works">How it Works</a>
        </li>
        <li>
          <a href="#instructor">Your Instructor</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>


<!-- ############################################### -->
  <div id="hero-unit" class="section">
    <h1>
      Web Development Fundamentals<br>In Just 6 Weeks
    </h1>
    <h3>
      We take incoming coding bootcamp students and hammer home the fundamentals of web development and application engineering so they can hit the ground running on Day 1 and you can focus on making every day count during your course.
    </h3>
    <a href="#contact">
      <button class="button lg">
        Learn More
      </button>
    </a>
  </div>
  
<!-- ############################################### -->
  <div id="reinforcer" class="section">
    <div class="container">
      <h3>
        The Bar Keeps Rising...
      </h3>
      <p>
        The market for junior developers is getting more and more competitive with every new batch.  You need to keep up but only have so many weeks to work with.  Our turn-key solution lets you do more with the time you have by bringing your future grads to the starting line with a strong base in the fundamentals of HTML/CSS, Javascript, jQuery, Ruby, and web engineering -- without any additional staffing or development work on your end.
      </p>
    </div>
  </div>

<!-- ############################################### -->
  <div id="goals" class="section">
    <div class="container">
      <div class="goal">
        <div class="goal-text float-left">
          <h3>
            Our Mission
          </h3>
          <p>
            Our mission is to provide students with an exceptional grounding in the fundamentals of web development so they're ready to take the bull by the horns on Day 1 and so they'll finish their bootcamp experience significantly more prepared for the job market than if they'd come in with a less stringent preparation.

          </p>
        </div>
        <div class="goal-image float-right">
          <img src="#">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="goal">
        <div class="goal-image float-left">
          <img src="#">
        </div>
        <div class="goal-text float-right">
          <h3>
            Our Methods
          </h3>
          <p>
            We take the best parts of the in-person experience -- <strong>a strong curriculum</strong>, <strong>lots of building</strong>, and <strong>access to support</strong> -- and use them in our online preparatory program.  We focus heavily on developing strong fundamentals, building projects, and encouraging students to collaborate with each other and mentors along the way.
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="curriculum" class="section">
    <div class="container">
      <h2>
        The Curriculum
      </h2>
      <div class="clearfix"></div>
      <div class="weeks-top">
        <div class="card-wrapper curr-piece" data-curr-piece="1">
          <div class="week">
            <div class="card-front">
              <h4>
                1: Web Fundamentals
              </h4>
              <p>
                The foundational elements of web development from the client/server model to the tools of the job like Git and the command line.
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>Client/Server</li>
                <li>Git</li>
                <li>Command Line</li>
                <li>Agile Methods</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-wrapper curr-piece" data-curr-piece="3">
          <div class="week">
            <div class="card-front">
              <h4>
                3: Javascript
              </h4>
              <p>
                The fundamentals of programming taught using Javascript and the console with a focus on problem solving.
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>Operators</li>
                <li>Flow Control</li>
                <li>Iteration</li>
                <li>Functions</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-wrapper curr-piece" data-curr-piece="5">
          <div class="week">
            <div class="card-front">
              <h4>
                5: Ruby Basics
              </h4>
              <p>
                A deep dive into the Ruby language, with a longer look at the fundamentals of programming through that lens.
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>JS to Ruby</li>
                <li>Methods</li>
                <li>Blocks</li>
                <li>File I/O</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="curr-diagram">
        <div class="img-piece curr-piece" data-curr-piece="1">
          <%= image_tag("home_page/piece1.png") %>
        </div>
        <div class="img-piece curr-piece" data-curr-piece="2">
          <%= image_tag("home_page/piece2.png") %>
        </div>
        <div class="img-piece curr-piece" data-curr-piece="3">
          <%= image_tag("home_page/piece3.png") %>
        </div>
        <div class="img-piece curr-piece" data-curr-piece="4">
          <%= image_tag("home_page/piece4.png") %>
        </div>
        <div class="img-piece curr-piece" data-curr-piece="5">
          <%= image_tag("home_page/piece5.png") %>
        </div>
        <div class="img-piece curr-piece" data-curr-piece="6">
          <%= image_tag("home_page/piece6.png") %>
        </div>
        <div id="curr-line-1" class="curr-line curr-line-top curr-piece" data-curr-piece="1"></div>
        <div id="curr-line-2" class="curr-line curr-line-bottom curr-piece" data-curr-piece="2"></div>
        <div id="curr-line-3" class="curr-line curr-line-top curr-piece" data-curr-piece="3"></div>
        <div id="curr-line-4" class="curr-line curr-line-bottom curr-piece" data-curr-piece="4"></div>
        <div id="curr-line-5" class="curr-line curr-line-top curr-piece" data-curr-piece="5"></div>
        <div id="curr-line-6" class="curr-line curr-line-bottom curr-piece" data-curr-piece="6"></div>
      </div>

      <div class="clearfix"></div>
      <div class="weeks-bottom">
        <div class="card-wrapper curr-piece" data-curr-piece="2">
          <div class="week">
            <div class="card-front">
              <h4>
                2: HTML &amp; CSS
              </h4>
              <p>
                The nuts and bolts of HTML and CSS, from web design to web forms.
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>Page Design</li>
                <li>Selectors</li>
                <li>Positioning</li>
                <li>Forms</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-wrapper curr-piece" data-curr-piece="4">
          <div class="week">
            <div class="card-front">
              <h4>
                4: jQuery
              </h4>
              <p>
                Bringing Javascript to the browser and hammering home fundamental concepts like callbacks and listeners using jQuery.
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>The DOM</li>
                <li>Selectors</li>
                <li>Modifying Elements</li>
                <li>Events</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-wrapper curr-piece" data-curr-piece="6">
          <div class="week">
            <div class="card-front">
              <h4>
                6: Ruby OOP
              </h4>
              <p>
                We'll dive deeper into Ruby through covering best practices for code design and object oriented programming fundamentals. 
              </p>
            </div>
            <div class="card-back">
              <ul>
                <li>Classes</li>
                <li>Scope</li>
                <li>Best Practices</li>
                <li>Ruby on the Web</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="how-it-works" class="section">
    <div class="container">
      <h2>
        How it Works
      </h2>
      <div class="subheading">
        <p>
          Our learn-by-building approach matches high quality curated and custom content with project work specially designed to hammer home key concepts.  Students pair together with other members of their small "pod" and have access to realtime help when they need it.
        </p>
      </div>
      <div class="card-holder">
        <div class="how-content">
          <h3>
            Great Content
          </h3>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  The Web's Best Resources in One Place
                </h4>
              </div>
              <div class="card-back">
                <p>
                  We've gathered the best stuff out there and filled in the gaps with our own content to create a clear but challenging curriculum.
                </p>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  A Build-First Approach with Custom Projects
                </h4>
              </div>
              <div class="card-back">
                <p>
                  We've crafted interesting assignments and projects to get students building right from the beginning.
                </p>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  Video Demos and Project Walkthroughs
                </h4>
              </div>
              <div class="card-back">
                <p>
                  Static content isn't enough -- we've created deep-dive videos and project walkthroughs to help cement the material. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="how-support">
          <h3>
            Great Support
          </h3>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  Students Work Closely Together in Small Groups
                </h4>
              </div>
              <div class="card-back">
                <p>
                  Groups of 8 students, or "pods", work together for the duration of the program. They have full-time access to chat and will pair together on assignments. 
                </p>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  Access to Realtime Video and Chat Help from Instructors
                </h4>
              </div>
              <div class="card-back">
                <p>
                  In addition to chatting with each other, students have access to instructors through Q&A forums as well as live chat and video during virtual office hours.
                </p>
              </div>
            </div>
          </div>
          <div class="card-wrapper">
            <div class="how-card">
              <div class="card-front">
                <img src="#">
                <h4>
                  Weekly Video Check-ins
                </h4>
              </div>
              <div class="card-back">
                <p>
                  Frequently asked questions and other course issues will be covered in weekly live video lectures to make sure everyone's on the same page.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

<!-- ############################################### -->
  <div id="instructor" class="section">
    <div class="container-medium">
      <h2>
        Meet the Head Instructor
      </h2>
      <div class="info-box">
        <img src="#">
        <p>
          <strong>Erik Trautman</strong> has taught hundreds of students how to code and is highly experienced with virtual teaching.
        </p>
        <p>
          He's a graduate of Penn's School of Engineering and a former student at App Academy, a premier coding school in San Francisco.  He stayed on with App Academy after graduating their program but left in May 2013 to found <a href="http://theodinproject.com" target="_blank">The Odin Project</a>, an open source curriculum for learning web development online. 
        </p>
        <p>
          He currently coordinates dozens of remote student developers who contribute to the project and also heads the <a href="http://codingschoolalumni.org">Coding School Alumni Association</a>, a social and professional network of graduates of fulltime intensive coding schools worldwide.
        </p>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="faq" class="section">
    <div class="container-narrow">
      <h2>
        FAQ
      </h2>
      <div class="faq-question">
        <h4>
          When does the program start?
        </h4>
        <p>
          We need at least 6 weeks before your bootcamp begins but otherwise can start anytime after a student is admitted.  We do rolling cohorts, meaning one pod will begin a couple weeks after the previous one, thus allowing students to get started soon after being admitted but preserving the advantages of grouping them together.
        </p>
      </div>
      <div class="faq-question">
        <h4>
          But we already tell students to do a bunch of Treehouse and Codecademy lessons, why is this necessary?
        </h4>
        <p>
          High quality prep work is the best way to improve the output of your program and keep your hiring numbers up.  It's what we're fanatical about too, so we've got a lot of experience getting students up the learning curve fast.  For the same reason that your program provides significant value above reading a textbook, our program provides a significantly superior learning experience to a "flat" batch of readings or courses.
        </p>
      </div>
      <div class="faq-question">
        <h4>
          We're thinking of hiring a fulltime staff member or two to do our prep work, why use you instead?
        </h4>
        <p>
          Three reasons:
          <ol>
            <li><strong>It's ready now.</strong>  You're welcome to build your own fulltime prep program but it's a heck of a lot of work and it's a distraction from your core business.  Ours is here for you <em>right now</em> so you can keep the quality bar rising without delay.</li>
            <li><strong>We're experts at this.</strong>  This is what we do... and we've got a whole team of people focused fulltime on making it better every day.  It would be very difficult (and unnecessary) for you to provide the same investment of development time and ongoing focus on your own custom solution.</li>
            <li><strong>We're here when you need us, not when you don't.</strong> There's no need to keep idle staff between cohorts or try to split the duties of current instructors -- just send students our way when they're accepted and we'll take care of the rest.</li>
          </ol>
        </p>
      </div>
      <div class="faq-question">
        <h4>
          Can our instructors participate?
        </h4>
        <p>
          If you'd like to interact directly with the students as they go through the course, your instructors will be able to use the platform to chat or set up video hangouts with the students.
        </p>
      </div>
      <div class="faq-question">
        <h4>
          What if we want to know how our students are doing?
        </h4>
        <p>
          We'll pass along the results of our assessments, feedback on the major projects, and pairing feedback as well.  You'll have as much data on your students' progress as you would if you ran this yourself.
        </p>
      </div>
      <div class="faq-question">
        <h4>
          How much does the program cost?
        </h4>
        <p>
          Please get in touch with us using the form below and we'll be happy to provide you with more information.  We are comparably priced to other courses which offer less original content and significantly less interaction.
        </p>
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <div id="contact" class="section">
    <div class="container-narrow">
      <h2>
        Get Your Students Involved
      </h2>
      <h4>
        To find out more about the program and how you can get your students involved, leave your information below and we'll be in touch within hours.
      </h4>
      <div class="contact-form">
        <%= simple_form_for @inquiry do |f| %>
          <div class="input required">
            <%= show_inline_error(@inquiry, :name) %>
            <%= f.input :name, :placeholder => "Your Name", :label => false %>
          </div>
          <div class="input required">
            <%= show_inline_error(@inquiry, :email) %>
            <%= f.input :email, :placeholder => "Your Email", :label => false %>
          </div>
          <div class="input">
            <%= show_inline_error(@inquiry, :comment) %>
            <%= f.input :comment, :placeholder => "Comments...", :label => false %>
          </div>
          <div class="input">
            <input type="submit" value="Learn More">
          </div>
        <% end %>
      </div>
      <div class="email-link">
        You can also contact us directly <a href="mailto:csp@theodinproject.com">via email</a>.
      </div>
    </div>
  </div>

<!-- ############################################### -->
  <footer class="section">
    <span class="copyright">
       &#169; Viking Education 2014
    </span>
  </footer>

  <!--
  * Break points at... 400?
-->

</div>