<!DOCTYPE html>
<html>
<head>
  <title>Codeschoolprep</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- analytics -->
  <%= render "shared/ga" %>

  <!-- FONTS -->
  <script src="//use.edgefonts.net/lato:n1,n3,n4,i4,n7.js"></script>   
</head>
<body>

  <%= display_flash %>

  <%= yield %>

</body>
</html>
